.text.primary {
  color: #1e88e5; }

.text.color1 {
  color: #26415a; }

.text.color2 {
  color: #4CAF50; }

.text.color3 {
  color: #2897c0; }

.text.point1 {
  color: #FD4A49; }

.text.point2 {
  color: #FED766; }

.text.point3 {
  color: #00BD9D; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.card {
  position: relative;
  margin: 0px 0 20px 0;
  background-color: #fff;
  color: #000;
  transition: background .5s ease, box-shadow .5s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .card .card-image {
    position: relative; }
    .card .card-image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .card .card-image .card-title {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: 10px 24px;
      z-index: 999;
      text-shadow: 1px 1px #666;
      background-color: rgba(0, 0, 0, 0.3); }
  .card .card-content {
    padding: 12px 16px;
    border-radius: 0 0 2px 2px; }
    .card .card-content h4 small {
      display: inline-block;
      padding: 0 5px; }
    .card .card-content small {
      color: #000; }
  .card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 12px 16px; }
  .card table.table:last-child {
    margin-bottom: 0; }

.card.primary {
  background-color: #1e88e5;
  color: white; }
  .card.primary.has-hover:hover {
    cursor: pointer;
    background-color: #4ca0ea;
    color: #fff; }
    .card.primary.has-hover:hover small {
      color: #fff; }
  .card.primary.active {
    background-color: #1e88e5 !important;
    color: #fff; }
    .card.primary.active small {
      color: #fff; }

.card.color1 {
  background-color: #26415a;
  color: white; }
  .card.color1.has-hover:hover {
    cursor: pointer;
    background-color: #355b7e;
    color: #fff; }
    .card.color1.has-hover:hover small {
      color: #fff; }
  .card.color1.active {
    background-color: #26415a !important;
    color: #fff; }
    .card.color1.active small {
      color: #fff; }

.card.color2 {
  background-color: #4CAF50;
  color: white; }
  .card.color2.has-hover:hover {
    cursor: pointer;
    background-color: #6ec071;
    color: #fff; }
    .card.color2.has-hover:hover small {
      color: #fff; }
  .card.color2.active {
    background-color: #4CAF50 !important;
    color: #fff; }
    .card.color2.active small {
      color: #fff; }

.card.color3 {
  background-color: #2897c0;
  color: white; }
  .card.color3.has-hover:hover {
    cursor: pointer;
    background-color: #43b0d8;
    color: #fff; }
    .card.color3.has-hover:hover small {
      color: #fff; }
  .card.color3.active {
    background-color: #2897c0 !important;
    color: #fff; }
    .card.color3.active small {
      color: #fff; }

.card.point1 {
  background-color: #FD4A49;
  color: white; }
  .card.point1.has-hover:hover {
    cursor: pointer;
    background-color: #fe7c7b;
    color: #fff; }
    .card.point1.has-hover:hover small {
      color: #fff; }
  .card.point1.active {
    background-color: #FD4A49 !important;
    color: #fff; }
    .card.point1.active small {
      color: #fff; }

.card.point2 {
  background-color: #FED766;
  color: white; }
  .card.point2.has-hover:hover {
    cursor: pointer;
    background-color: #fee499;
    color: #fff; }
    .card.point2.has-hover:hover small {
      color: #fff; }
  .card.point2.active {
    background-color: #FED766 !important;
    color: #fff; }
    .card.point2.active small {
      color: #fff; }

.card.point3 {
  background-color: #00BD9D;
  color: white; }
  .card.point3.has-hover:hover {
    cursor: pointer;
    background-color: #00f0c7;
    color: #fff; }
    .card.point3.has-hover:hover small {
      color: #fff; }
  .card.point3.active {
    background-color: #00BD9D !important;
    color: #fff; }
    .card.point3.active small {
      color: #fff; }

/*# sourceMappingURL=application.css.map */
