{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">대형 폐기물 예측 시스템</h1>
    <hr class="my-4">
    <p>
      대형폐기물 사진 예측 테스트
    </p>
    <p class="lead">
      <div class="row">
        <div class="col-12 col-sm-6">
          <form id="upload-file-form" method="post" enctype="multipart/form-data" action="/upload">
            <div class="input-group">
              <span class="input-group-btn">
                <button id='file-choose-btn' class="btn btn-secondary" type="button">파일선택 &hellip;</button>
                <input id="upload-file" name="file" type="file" accept="image/*" style="display: none;">
              </span>
              <input name='file-name' type="text" class="form-control" readonly>

              <span class="input-group-btn">
                <button id="upload-btn" class="btn btn-primary" type="button">
                  등록
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </p>
  </div>
</div>

<div class="container">
  <div id="predict-wrapper" class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-image">
          <img id="predict-img" src="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-content">
          <div id="predict-results">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
{% raw %}
<script id="result-template" type="text/x-handlebars-template">
  {{#each results}}
  <div class="result-item mb-2">
    <div class="alert alert-{{className}}" role="alert">
      <span class="name">{{name}}</span>: {{acc}}%
    </div>
  </div>
  {{/each}}
</script>
{% endraw %}

<script type="text/javascript">
  $(function() {
    $('#file-choose-btn').click(function(e) {
      $('#upload-file').trigger('click');
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#predict-img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#upload-file").change(function(){
      readURL(this);
    });

    $('#upload-btn').click(function(e) {
      var formData = new FormData($('#upload-file-form')[0]);
      $.ajax({
        type: 'POST',
        url: '/upload',
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
          $.each(data.results, function(i, result) {
            if (result.acc > 0.5) {
              result.className = "primary";
            } else if (result.acc > 0.2) {
              result.className = "success";
            } else {
              result.className = "light";
            }
            result.acc = (result.acc * 100).toFixed(2);
          });

          var source   = $("#result-template").html();
          var template = Handlebars.compile(source);
          var resultHtml = template({results: data.results});
          $("#predict-results").html(resultHtml);
        },
        error: function(err) {
          console.log(err);
        }
      });
    });
  });
</script>
{% endblock %}
